@charset "ISO-8859-1";

.body-all {
	background-color: black;
	background-image: url("background.jpg");
	background-position: center; /* Center the image */
	background-attachment: fixed;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 1000px 700px;
	text-align: center;
	margin-top: 375px;
}

#withdraw-body {
	margin-right: 245px;
}

.input-bar {
	background-color: #C3C3C3;
	border: solid 1px;
	margin-left: 10px;
}

.text {
	margin-right: 245px;
	font-weight: bold;
}

#pin-text {
	margin-left: 45px;
}

.submit-button {
	margin-right: 75px;
	background-color: #e07c1f;
	border-color: black;
	font-size: 12px;
	font-weight: bold;
}

.home-button{
	text-align: center;
	margin-right: 250px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #e07c1f;
	border-color: black;
	font-size: 12px;
	font-weight: bold;
}